body {
  height: 100vh;
  background-color: bisque;
  background-image: url("https://wallpaperaccess.com/full/6033705.jpg");
}

#hidden-container {
  display: none;
}

.window {
  position: absolute;
  top: 10%;
  right: 42.5%;
  width: 15%;
}

@media screen and (max-width: 992px) {
  .window {
    right: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .window {
    right: 25%;
    width: 50%;
  }
}

.controll-container {
  width: 100%;
  margin-bottom: 0.5rem;
}

.content-container * {
  width: 100%;
}
